@import "variables";
@import "grid";
@import "keyframes";
@import "~normalize.css";

html, body{
  min-height: 100vh;
  position: relative;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $white;
  background: $dark;
  overflow: hidden;
  @media (max-width: 768px) {
    overflow: auto;
  }
}

main{
  padding: 0 50px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row{
  max-width: 100%;
}

.container{
  margin: 0 auto;
}

input:focus{
  outline: none;
}

button{
  border: 0;
  outline: 0;
  background: $white;
  color: $dark;
  padding: 9px 28px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 10px rgba($white, 0.2);
  &:hover{
    filter: brightness(1.8);
  }
  &:active{
    animation: scale-click 0.15s ease-in-out;
  }
}


.range {
  appearance:none;
  width: 10rem;
  height: .25rem;
  outline: none;
  border-radius: .25rem;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;
    background-color: $white;
    border: .1rem solid $white;
    border-radius: 1rem;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: $white;
    border: 0.1rem solid $white;
    border-radius: 1rem;
    cursor: pointer;
  }

}

.eq {
  display: inline-block;
  background: transparent;

  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  
  display: flex;
  justify-content: center;
  align-items: center;

  .eq-first,
  .eq-second,
  .eq-third {
    display: inline-block;
    border-radius: 30px;
    width: 6px;
    transform: scale(0.6);
    margin-right: 4px;
    transition: 0.5s;
    animation: equalize 4s 0s infinite;
    animation-timing-function: linear;
    vertical-align: top;
    background: $white;
  }
  
  .eq-first {
    height: 36px;
    // background: #0f87ae;
    transition: 0.5s;
    animation-delay: -1.9s;
  }
  
  .eq-second {
    height: 44px;
    // background: #b75690;
    animation-delay: -2.9s;
  }
  
  .eq-third {
    height: 40px;
    // background: #86c035;
    animation-delay: -3.9s;
  }
}

@keyframes equalize {
  0% {
    height: 44px;
  }
  4% {
    height: 38px;
  }
  8% {
    height: 36px;
  }
  12% {
    height: 26px;
  }
  16% {
    height: 16px;
  }
  20% {
    height: 26px;
  }
  24% {
    height: 36px;
  }
  28% {
    height: 6px;
  }
  32% {
    height: 36px;
  }
  36% {
    height: 44px;
  }
  40% {
    height: 16px;
  }
  44% {
    height: 36px;
  }
  48% {
    height: 44px;
  }
  52% {
    height: 26px;
  }
  56% {
    height: 8px;
  }
  60% {
    height: 28px;
  }
  64% {
    height: 44px;
  }
  68% {
    height: 26px;
  }
  72% {
    height: 44px;
  }
  76% {
    height: 16px;
  }
  80% {
    height: 44px;
  }
  84% {
    height: 34px;
  }
  88% {
    height: 44px;
  }
  92% {
    height: 16px;
  }
  96% {
    height: 44px;
  }
  100% {
    height: 44px;
  }
}
  
  
  